.box {
    background-color: black;
    border-radius: 20px;
    padding:10px
  }
  
  .dept {
    background-color: #ffffff;
    align-content: center;
    height: 260;
    width: 420px;
    margin-top: 5px;
    margin-bottom: 10px;
    text-decoration: none;
  }
  
  .box:hover {
    box-shadow: 10px 30px 18px -8px rgba(0, 0, 0, 0.829);
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
  }
  
  .imgCard {
    height: 200px;
    width: 350px;
    display: flex;
    object-fit: fill;
    image-rendering: crisp-edges;
    align-items: center;
    border: none;
    background-color: #9FE2BF;
  }
  
  .container1 {
    margin-top: 70px;
    margin-left: 105px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-decoration: none;
    font-size: medium;
    border: none;
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    max-height: 350px;
    background-color: #9FE2BF;
  }
  
  .container1:hover {
    /* box-shadow: 0px 10px 10px -8px rgba(135, 145, 146, 0.459); */
    transform: scale(1.05, 1.05);
    color: #9FE2BF;
  }
  
  .main {
    background-color: #a2a2a2;
    border-radius: 10px;
    align-items: center;
    border-width: 0;
    text-decoration: none;
  }

  .text_area{
    background-color: #9FE2BF;
  }