<html>
    <head></head>
    <body>
        <!-- <center> -->
            <center><h4>Hii {{username}} </h4></center>
            <div>
                
                <h4> Registered Hotel Name : {{name}}</h4>

                Address: {{landmark}}, {{city}}, {{state}},
                        {{Country}} - {{pin}}
                <br>
                Contact : {{prefix}} - {{mobile}}
                <br>

                Accessiblity:<br>
                visual_impaired : {{visual_impaired}}<br>
                wheelchair_user : {{wheelchair_user}} <br>
                hearing_impaired : {{hearing_impaired}} <br>
                speech_impaired : {{speech_impaired}} <br>

                <h5>   Room Types: </h5> 
                <h3> {{roomtype1}} </h3> <br>
                Price :  {{pricetype1}}<br>
                Number of rooms : {{numOftype1}} <br>
                Facility : {{facilityoftype1}} <br><br><br>
                
                <h3> {{roomtype2}} </h3> <br>
                Price :  {{pricetype2}}<br>
                Number of rooms : {{numOftype2}} <br>
                Facility : {{facilityoftype2}} <br><br><br>
 
                <h3> {{roomtype3}} </h3> <br>
                Price :  {{pricetype3}}<br>
                Number of rooms : {{numOftype3}} <br>
                Facility : {{facilityoftype3}} <br><br><br>

            </div>
        <!-- </center> -->
    </body>
</html>