<html>

<body>
    <center>

    <h3>     Welcome {{name}} <br>    </h3>
      <h3>  Username : {{username}} </h3><br>
    <h3>   Registered email : {{email}} </h3><br>
       
    {% comment %} <p>Do you want to <a href = "{% url 'logout' %}">Logout</a> ? </p> {% endcomment %}
    
    {% block content %}
    <p> <a href = {% url 'register_hotel' user_id=id %}> Edit Details </a></p>
    <button href = "{% url 'hotel_getdata' %}"> Edit Details
    </button>
    {% endblock %}
    </center>
</body>

</html>